/*设置基础样式*/
body{
    /*默认字体*/
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}
/*统一设置a的样式*/
a{
    text-decoration: none;
    color:inherit;
}
/*中间容器默认样式*/
.w{
    width:1226px;
    margin:0 auto;
}
/*清除浮动和高度塌陷*/
.clearfix::before,
.clearfix::after{
    content: "";
    display: table;
    clear:both;
}
img{
    /*目的:处理图片之间的缝隙*/
    vertical-align: middle;
    width:100%;
    
}